src/n8n/workflows/CHAT ENTREGABLE.json
{
  "createdAt": "2025-07-24T12:51:14.372Z",
  "updatedAt": "2025-07-24T14:54:54.000Z",
  "id": "AeL15q2p7x2TtYUZ",
  "name": "CHAT ENTREGABLE",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "responseNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        -20
      ],
      "id": "24abe67f-5cc9-48e5-9539-d0681e766a45",
      "name": "When chat message received",
      "webhookId": "c8e12287-f478-4d66-a7d2-1488f7a36221"
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "INVENTARIO",
              "description": "Esta clase es para cosas relativas al inventario, busquedas de inventario preguntas sobre elementos de inventario etc"
            },
            {
              "category": "KICAD",
              "description": "Esta categoria es para projectos relacionados con kicad"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {INVENTARIO o KICAD}, the 90% of the times wiil be inventory, and use the provided formatting instructions below. Don't explain, and only output the json.",
          "enableAutoFixing": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -120,
        -120
      ],
      "id": "dc25e2e0-2fc6-4d4b-9da2-42c8c7c067cf",
      "name": "Text Classifier",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "rowUpdatedInDatabase",
        "workspaceId": "273d82d8-1caa-44ce-9a4a-90e55dbbf4e3",
        "databaseId": "0075b5e4-0137-4251-a38b-5cc95b41df99"
      },
      "type": "n8n-nodes-appflowy.appflowyTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -220
      ],
      "id": "1218cd01-059b-4439-bc69-fe2d8b1aac5e",
      "name": "AppFlowy Trigger",
      "credentials": {
        "appflowyApi": {
          "id": "YODmFLRKL0nTWCx6",
          "name": "Default"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var ret = $input.first();\nret.json.type = \"CHAT\";\nreturn [ret];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        -20
      ],
      "id": "b4a92aff-dfcc-4e33-8a1d-826dc43a2a03",
      "name": "Parse and mark chat question"
    },
    {
      "parameters": {
        "jsCode": "var ret = $input.first();\nret.json.type = \"ROW\";\nreturn [ret];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        -220
      ],
      "id": "3b94b0a9-8d76-4c70-9d9b-c52725b83457",
      "name": "Parse and mark row question"
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {
          "temperature": 0.7,
          "penalizeNewline": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -40,
        100
      ],
      "id": "f4cae071-76e8-49ee-b231-1d040f2d4812",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "CHAT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a6194f46-67b7-4cc8-ae45-ce79bd486b2f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CHAT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "46fc20d6-bb8a-47ec-9e63-508d82e02f54",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "ROW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ROW"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        680,
        -120
      ],
      "id": "80e59a28-fb18-4c91-b88f-3fe52e0ccb1e",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "var ret = $input.first();\nret.json.reply = \"UNKNOWN\";\nreturn [ret];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        -120
      ],
      "id": "6b1914b7-4d5e-4536-b014-7eafc857d85b",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        900,
        -220
      ],
      "id": "3f9b564f-288a-4cf1-86ab-1256b5506c6e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "upsert",
        "workspaceId": "273d82d8-1caa-44ce-9a4a-90e55dbbf4e3",
        "databaseId": "0075b5e4-0137-4251-a38b-5cc95b41df99",
        "databaseRowPreHash": "sdf"
      },
      "type": "n8n-nodes-appflowy.appflowy",
      "typeVersion": 1,
      "position": [
        900,
        -20
      ],
      "id": "67964ea8-5ee4-4942-bcf0-38c0dd6af94a",
      "name": "Create or update a database row",
      "credentials": {
        "appflowyApi": {
          "id": "YODmFLRKL0nTWCx6",
          "name": "Default"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0Av55mBiFgoet5yZ",
          "mode": "list",
          "cachedResultName": "RETRIVE INVENTORY"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        -320
      ],
      "id": "77175d90-75ea-4932-9a1e-717f1fcd4f9b",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        80
      ],
      "id": "e1c9d6b5-e94d-4bb3-a1b2-8f3af3e14b4b",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "jsCode": "var ret = $input.first();\nret.json.reply = \"UNKNOWN\";\nreturn [ret];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        80
      ],
      "id": "43e786b3-0510-41cb-9729-6222f536e4b9",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "var ret = $input.first();\nret.json.reply = \"UNKNOWN\";\nreturn [ret];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        -320
      ],
      "id": "44555ccd-094b-4ea7-b375-7c78715bfb75",
      "name": "Code2"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Parse and mark chat question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AppFlowy Trigger": {
      "main": [
        [
          {
            "node": "Parse and mark row question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and mark chat question": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and mark row question": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create or update a database row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:AppFlowy Trigger": {
      "lastTimeChecked": "2025-07-24T14:56:13.008Z",
      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGY0MDhmYS0xNTM3LTRjZTEtODIyMi02MjllZTZjMzllZTAiLCJhdWQiOiIiLCJleHAiOjE3NTMzNjkxNzIsImlhdCI6MTc1MzM2MTk3MiwiZW1haWwiOiJkZWZhdWx0QGRlZmF1bHQuZGVmYXVsdCIsInBob25lIjoiIiwiYXBwX21ldGFkYXRhIjp7InByb3ZpZGVyIjoiZW1haWwiLCJwcm92aWRlcnMiOlsiZW1haWwiXX0sInVzZXJfbWV0YWRhdGEiOnsiZW1haWwiOiJkZWZhdWx0QGRlZmF1bHQuZGVmYXVsdCIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwicGhvbmVfdmVyaWZpZWQiOmZhbHNlLCJzdWIiOiI1MGY0MDhmYS0xNTM3LTRjZTEtODIyMi02MjllZTZjMzllZTAifSwicm9sZSI6IiIsImFhbCI6ImFhbDEiLCJhbXIiOlt7Im1ldGhvZCI6InBhc3N3b3JkIiwidGltZXN0YW1wIjoxNzUzMzYxOTcyfV0sInNlc3Npb25faWQiOiJjZjg1MzUwOC04MmY5LTRjZTItYWZjZC0wOTI3MTQ0OTJhM2YiLCJpc19hbm9ueW1vdXMiOmZhbHNlfQ.bCyEFRqIs_-JN2lJgFUul048tsER3M4gk1hAtfgcwU4",
      "refreshToken": "9gVCvqbmfmLLj_TuJ_Npdg",
      "rows": [
        {
          "updated_at": "2025-07-24T14:54:44.113Z",
          "row_id": "576a415e-a818-4372-a8d1-c0dc8d0f6661"
        }
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e4d49546-c5f4-418a-ab70-be872edee8c8",
  "triggerCount": 2,
  "tags": []
}