src/n8n/workflows/CHILD - RETRIVE INVENTORY.json
{
  "createdAt": "2025-07-24T14:34:22.778Z",
  "updatedAt": "2025-07-25T08:11:08.000Z",
  "id": "0Av55mBiFgoet5yZ",
  "name": "CHILD - RETRIVE INVENTORY",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "tazarov/all-minilm-l6-v2-f32:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        520,
        220
      ],
      "id": "676067a7-aec0-44a6-b70d-db03048e5975",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "n8n_inventory_embedings",
        "prompt": "={{ $json.question }}",
        "topK": 1,
        "options": {
          "distanceStrategy": "cosine"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        440,
        0
      ],
      "id": "f89868fa-f2df-4978-83cd-252e4c62ef88",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "rUrocHl8XaJ8Jwox",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "84fe96c6-ad4a-40d6-9ddf-795210088eed",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -20,
        240
      ],
      "id": "2e6fd77a-c449-4c2d-a9c5-489bf175765f",
      "name": "When chat message received",
      "webhookId": "f1fdbefe-19ed-439a-b0ca-34e1678abf2c"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.question = item.json.chatInput;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        240
      ],
      "id": "b823fe2f-4f08-4056-9bc1-42fd4dc066f7",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://appflowy.iadoc.alteria.vpn.alonsom.com/gotrue/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        0
      ],
      "id": "bb9ac306-5074-45d0-8bf5-07de5ac01528",
      "name": "Get access token",
      "credentials": {
        "httpCustomAuth": {
          "id": "8u4k4uALem7ZjQHK",
          "name": "default@default.default"
        }
      }
    },
    {
      "parameters": {
        "url": "http://appflowy.iadoc.alteria.vpn.alonsom.com/api/workspace",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get access token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workspace_name",
              "value": "demo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        0
      ],
      "id": "b4fd3cd8-3e0d-4326-8608-636981a42a7e",
      "name": "Get workspaces"
    },
    {
      "parameters": {
        "url": "=http://appflowy.iadoc.alteria.vpn.alonsom.com/api/workspace/{{ $('Get workspaces').item.json.data.filter(item => item.workspace_name == \"demo\").last().workspace_id }}/database/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get access token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        0
      ],
      "id": "46eb6ab8-5312-4ffd-b71d-bd15d82e41f9",
      "name": "Get Inventory database"
    },
    {
      "parameters": {
        "url": "=http://appflowy.iadoc.alteria.vpn.alonsom.com/api/workspace/{{ $('Get workspaces').item.json.data.filter(item => item.workspace_name == \"demo\").last().workspace_id }}/database/{{ $('Get Inventory database').item.json.data.filter(item => item.views[0].name == \"Inventory\").last().id }}/row/detail?ids=urn:uuid:{{ $('Postgres PGVector Store1').item.json.document.metadata.appflowy.rowID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get access token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ids\": [ ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        0
      ],
      "id": "f3bf5e2b-74c8-4b9d-a1ea-c88510a4eb0d",
      "name": "Get Inventory Row"
    }
  ],
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "main": [
        [
          {
            "node": "Get access token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get access token": {
      "main": [
        [
          {
            "node": "Get workspaces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get workspaces": {
      "main": [
        [
          {
            "node": "Get Inventory database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory database": {
      "main": [
        [
          {
            "node": "Get Inventory Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Get ROW": {
      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGY0MDhmYS0xNTM3LTRjZTEtODIyMi02MjllZTZjMzllZTAiLCJhdWQiOiIiLCJleHAiOjE3NTMzODk2NjEsImlhdCI6MTc1MzM4MjQ2MSwiZW1haWwiOiJkZWZhdWx0QGRlZmF1bHQuZGVmYXVsdCIsInBob25lIjoiIiwiYXBwX21ldGFkYXRhIjp7InByb3ZpZGVyIjoiZW1haWwiLCJwcm92aWRlcnMiOlsiZW1haWwiXX0sInVzZXJfbWV0YWRhdGEiOnsiZW1haWwiOiJkZWZhdWx0QGRlZmF1bHQuZGVmYXVsdCIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwicGhvbmVfdmVyaWZpZWQiOmZhbHNlLCJzdWIiOiI1MGY0MDhmYS0xNTM3LTRjZTEtODIyMi02MjllZTZjMzllZTAifSwicm9sZSI6IiIsImFhbCI6ImFhbDEiLCJhbXIiOlt7Im1ldGhvZCI6InBhc3N3b3JkIiwidGltZXN0YW1wIjoxNzUzMzgyNDYxfV0sInNlc3Npb25faWQiOiI4MjFlMGNkMi1iMjNmLTQ1MjgtYmYxZS1jZDNkMDI5ZDNmYmMiLCJpc19hbm9ueW1vdXMiOmZhbHNlfQ.quFguVK_Jzf8W3y4YMrHOdEp0AqqON6Bbc7R01waehQ",
      "refreshToken": "LL1XQZlJyLVKn6K_0ELZWQ"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "83bbe282-0efd-4441-b883-49cf6d93d2de",
  "triggerCount": 0,
  "tags": []
}