src/n8n/workflows/CHILD - RETRIVE INVENTORY - MANUAL.json
{
  "createdAt": "2025-07-24T14:34:22.778Z",
  "updatedAt": "2025-07-24T20:58:34.000Z",
  "id": "0Av55mBiFgoet5yZ",
  "name": "CHILD - RETRIVE INVENTORY - MANUAL",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "tazarov/all-minilm-l6-v2-f32:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        300,
        220
      ],
      "id": "676067a7-aec0-44a6-b70d-db03048e5975",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "n8n_vectors_test",
        "prompt": "={{ $json.chatInput }}",
        "topK": 1,
        "options": {
          "distanceStrategy": "cosine"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        220,
        0
      ],
      "id": "f89868fa-f2df-4978-83cd-252e4c62ef88",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "rUrocHl8XaJ8Jwox",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "workspaceId": "8ae13e1f-196d-4a3d-8682-bcc06c0c8634",
        "databaseId": "2b6f3380-39a5-4e7c-a67d-6e60f6a21ae6",
        "databaseRowId": "={{ $json.document.metadata.appflowy.rowID }}",
        "includeDocumentData": true,
        "simplify": false
      },
      "type": "n8n-nodes-appflowy.appflowy",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "63c6fd0f-f5e6-4c95-8332-54697b9839f8",
      "name": "Get ROW",
      "alwaysOutputData": true,
      "credentials": {
        "appflowyApi": {
          "id": "YODmFLRKL0nTWCx6",
          "name": "Default"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "84fe96c6-ad4a-40d6-9ddf-795210088eed",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -20,
        240
      ],
      "id": "2e6fd77a-c449-4c2d-a9c5-489bf175765f",
      "name": "When chat message received",
      "webhookId": "f1fdbefe-19ed-439a-b0ca-34e1678abf2c"
    }
  ],
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "main": [
        [
          {
            "node": "Get ROW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Get ROW": {
      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MGY0MDhmYS0xNTM3LTRjZTEtODIyMi02MjllZTZjMzllZTAiLCJhdWQiOiIiLCJleHAiOjE3NTMzODk2NjEsImlhdCI6MTc1MzM4MjQ2MSwiZW1haWwiOiJkZWZhdWx0QGRlZmF1bHQuZGVmYXVsdCIsInBob25lIjoiIiwiYXBwX21ldGFkYXRhIjp7InByb3ZpZGVyIjoiZW1haWwiLCJwcm92aWRlcnMiOlsiZW1haWwiXX0sInVzZXJfbWV0YWRhdGEiOnsiZW1haWwiOiJkZWZhdWx0QGRlZmF1bHQuZGVmYXVsdCIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwicGhvbmVfdmVyaWZpZWQiOmZhbHNlLCJzdWIiOiI1MGY0MDhmYS0xNTM3LTRjZTEtODIyMi02MjllZTZjMzllZTAifSwicm9sZSI6IiIsImFhbCI6ImFhbDEiLCJhbXIiOlt7Im1ldGhvZCI6InBhc3N3b3JkIiwidGltZXN0YW1wIjoxNzUzMzgyNDYxfV0sInNlc3Npb25faWQiOiI4MjFlMGNkMi1iMjNmLTQ1MjgtYmYxZS1jZDNkMDI5ZDNmYmMiLCJpc19hbm9ueW1vdXMiOmZhbHNlfQ.quFguVK_Jzf8W3y4YMrHOdEp0AqqON6Bbc7R01waehQ",
      "refreshToken": "LL1XQZlJyLVKn6K_0ELZWQ"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b707b30a-66bd-47a5-ad39-b4c627186a11",
  "triggerCount": 0,
  "tags": []
}