src/n8n/workflows/CSV.json
{
  "createdAt": "2025-07-10T09:07:43.220Z",
  "updatedAt": "2025-07-10T12:15:12.000Z",
  "id": "rX0OnEMTWc5BMeej",
  "name": "CSV",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f7372be9-a540-4661-87fe-618800710bb7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/userData/smallInventory.csv",
        "options": {
          "fileExtension": "csv",
          "mimeType": "text/csv",
          "dataPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        280,
        0
      ],
      "id": "38ef50fe-39f6-47d8-a0a3-06280bac59ed",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "binaryPropertyName": "file",
        "options": {
          "delimiter": ",",
          "encoding": "utf-8",
          "headerRow": true,
          "includeEmptyCells": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "id": "c4808f08-3642-4942-a782-12096d186e6b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6ccd135-0c30-48c6-86db-2191142661a4",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "c52f8a23-9a34-4aeb-a1c1-062efd11fdd5",
              "name": "Type",
              "value": "={{ $json.Type }}",
              "type": "string"
            },
            {
              "id": "bfe29c67-011b-4a3c-b116-560a4b00ec8d",
              "name": "Subtype",
              "value": "={{ $json.Subtype }}",
              "type": "string"
            },
            {
              "id": "aa2f83d8-3474-4e2d-9262-0c413e5f9b9f",
              "name": "Box",
              "value": "={{ $json.Box }}",
              "type": "string"
            },
            {
              "id": "085a65ed-ae7e-44d3-8dfb-69a2e37e5709",
              "name": "Col",
              "value": "={{ $json.Col }}",
              "type": "string"
            },
            {
              "id": "f9a96b4c-26b4-4327-b0e9-280b42c6fa2c",
              "name": "Row",
              "value": "={{ $json.Row }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        0
      ],
      "id": "9dbd7bb4-f6bd-4485-a244-adc38a0bff46",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "deff6ed9-a518-472a-90b1-e8f4d7b716e5",
  "triggerCount": 0,
  "tags": []
}