src/n8n/workflows/Inventory Question.json
{
  "createdAt": "2025-07-14T08:40:47.774Z",
  "updatedAt": "2025-07-14T09:48:59.000Z",
  "id": "CChnvz1Hv1hCgNsy",
  "name": "Inventory Question",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        780,
        -140
      ],
      "id": "660d2537-048b-449a-81c9-5b64ab00ee1f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "workspaceId": "013a4efa-1bce-43cf-88bc-faf921d516be",
        "databaseId": "f0dc0899-6864-46bc-ad79-4c44effb9850",
        "returnAll": true,
        "simplify": false
      },
      "type": "n8n-nodes-appflowy.appflowy",
      "typeVersion": 1,
      "position": [
        220,
        -140
      ],
      "id": "ae1756b5-d75d-49ce-aec4-b860156d1d6f",
      "name": "Get All Inventory",
      "credentials": {
        "appflowyApi": {
          "id": "caTURWHOYl4VW0ZV",
          "name": "AppFlowy account"
        }
      }
    },
    {
      "parameters": {
        "model": "hf.co/QuantFactory/TableLLM-13b-GGUF:Q8_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        800,
        80
      ],
      "id": "365a31bb-bf52-4aed-a8e9-27b74366ea1e",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getFields",
        "workspaceId": "013a4efa-1bce-43cf-88bc-faf921d516be",
        "databaseId": "f0dc0899-6864-46bc-ad79-4c44effb9850"
      },
      "type": "n8n-nodes-appflowy.appflowy",
      "typeVersion": 1,
      "position": [
        -240,
        -140
      ],
      "id": "fb43e6aa-2bb7-4198-a7af-c9e01bc958a1",
      "name": "Get Inventory Headers",
      "credentials": {
        "appflowyApi": {
          "id": "caTURWHOYl4VW0ZV",
          "name": "AppFlowy account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nconst table_descriptions = \"pepe\";\nconst table_in_csv = \"pepe\";\nconst question = \"pepe\";\nvar prompt = \"[INST]Offer a thorough and accurate solution that directly addresses the Question outlined in the [Question]. \\\n### [Table Text] \\\n\" + table_descriptions + \"  \\\n \\\n### [Table] \\\n```\\\n{table_in_csv}\\\n```\\\n\\\n### [Question]\\\n{question}\\\n\\\n### [Solution][INST/]\"\n\n\n\nreturn \"$input.all()\";"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -140
      ],
      "id": "dc7f77a7-d10b-4acf-9326-16f67290b07e",
      "name": "Gen promt"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar data = {}\ndata.headers = [];\n\nfor (const item of $input.all()) {\n  data.headers.push(item.json) \n}\n$input.first().json.type_option.content.options\nfor (var i = 0; i < data.headers.length; i++) {\n  delete data.headers[i].id ;\n  delete data.headers[i].is_primary ;\n  data.headers[i].options = [];\n  if (data.headers[i].field_type == \"SingleSelect\") {\n    for (var j = 0; j < data.headers[i].type_option.content.options.length; j++) {\n      data.headers[i].options.push(data.headers[i].type_option.content.options[j].name);\n    }\n    delete data.headers[i].type_option ;\n  }\n}\n\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -140
      ],
      "id": "502dba62-e633-40c7-9f73-9e196a69b917",
      "name": "Code"
    },
    {
      "parameters": {
        "formTitle": "Test",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -420,
        60
      ],
      "id": "c95e06a6-f2bc-4433-bbf3-0e64f65f3af5",
      "name": "On form submission",
      "webhookId": "25896fb0-555d-4d7e-baa7-54aa0aae4ae9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        -140
      ],
      "id": "7d2e7a64-1901-4ed0-925a-0b0c7e435f60",
      "name": "When chat message received",
      "webhookId": "200cbf2b-2c05-4364-a5b0-f3b3d8c29614"
    }
  ],
  "connections": {
    "Get All Inventory": {
      "main": [
        [
          {
            "node": "Gen promt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory Headers": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen promt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get All Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get Inventory Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "07f7e011-7f1e-429f-8ff0-9d075d066aaa",
  "triggerCount": 0,
  "tags": []
}