src/n8n/workflows/My workflow 5.json
{
  "createdAt": "2025-07-10T11:50:58.168Z",
  "updatedAt": "2025-07-23T11:54:22.000Z",
  "id": "ubCHbrohbIFHu3Kp",
  "name": "My workflow 5",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        -20
      ],
      "id": "850b8980-72bb-4f7d-961b-78d0bcd79130",
      "name": "When chat message received",
      "webhookId": "bb61d313-502e-4846-be23-87680aed10ac"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Eres un experto en test, tu tarea es comprobar que la información dada por la tool \"testWorkflow\" concuerda con alguna de las siguientes opciones:\nOpción 1:\nPregunta: Tell me all the information about \"CAN BUS\"\nRespuesta:\n{\n  \"name\": \"CAN BUS\",\n  \"type\": \"integrados\",\n  \"subtype\": \"MCU\"\n}\nOpción 2:\nPregunta: Tell me all the information about \"Elemento X\"\nRespuesta:\n{\n  \"name\": \"Elemento X\",\n  \"type\": \"conectores\",\n  \"subtype\": \"Click\"\n}\nEn el que caso que las respuestas coincidan devolverás \"ÉXITO\", sino \"FAIL\".",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        -20
      ],
      "id": "44778beb-a023-4b22-a7aa-eaa98a07d2c7",
      "name": "Test"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        200,
        220
      ],
      "id": "d306d532-abac-4c4a-830f-a5289dd861d9",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        240
      ],
      "id": "0d6bb058-5cd9-48bc-b704-8f9a23555389",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool to make sure the answer of the IA its correct.\nUse the question of the user of input for the tool",
        "workflowId": {
          "__rl": true,
          "value": "YHhEJPaUqF9Z1f8F",
          "mode": "list",
          "cachedResultName": "My workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        560,
        200
      ],
      "id": "f83f4670-38db-4efc-b469-cb8b4cc77be6",
      "name": "testWorkflow",
      "notesInFlow": true,
      "notes": "Use {{$json[\"chatInput\"]}} for make this node execute."
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Test",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Test",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "testWorkflow": {
      "ai_tool": [
        [
          {
            "node": "Test",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fdbbf619-4960-4a10-aa0f-aaed05ca879c",
  "triggerCount": 0,
  "tags": []
}