src/n8n/workflows/My workflow.json
{
  "createdAt": "2025-07-07T18:15:23.001Z",
  "updatedAt": "2025-07-10T12:11:46.000Z",
  "id": "YHhEJPaUqF9Z1f8F",
  "name": "My workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        -20
      ],
      "id": "1e584dc5-76f3-4789-8dd6-026057e4f791",
      "name": "When chat message received",
      "webhookId": "18839b92-60ef-48c8-a98f-fc869effaa0f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente experto en extracción de datos y consulta de datos.\nTu tarea es:\n\n- No te inventes información externa, usa solo la información dada por la tool \"DatosBúsqueda\"\n\n- Dada la pregunta del usuario, cogerás la información relevante del input (su nombre) y empezarás la búsqueda de ese elemento por en la variable name de los objetos del JSON de \"DatosBúsqueda\".\n\n- Consultar SIEMPRE el JSON \"DatosBúsqueda\" que contiene una lista de objetos con información sobre distintos elementos.\n\n- Buscar en ese JSON el elemento que coincida exactamente con el nombre solicitado por el usuario. SOLO UNO.\n\n- Devolver solo la información de ese elemento, en el siguiente formato JSON plano:\n\n{\n  \"name\": \"...\",\n  \"type\": \"...\",\n  \"subtype\": \"...\",\n  \"box\": \"...\",\n  \"col\": \"...\",\n  \"row\": \"...\"\n}\n-No devuelvas nada mas que lo pedido por el usuario, solo un elemento del array.\n\n-Utiliza el structure output parser para asegurar que la salida de datos es correcta.\n\nReglas obligatorias:\n\n- Siempre has de ejecutar como minimo una herramienta\n\n- Si no se encuentra el elemento, devuelve exactamente el mismo JSON con todos los valores null ie \n{\n  \"name\": \"null\",\n  \"type\": \"null\",\n  \"subtype\": \"null\",\n  \"box\": \"null\",\n  \"col\": \"null\",\n  \"row\": \"null\"\n}\n\n- No incluyas ninguna explicación, comentario ni texto fuera del JSON.\n\n- No uses Markdown, etiquetas, ni ningún otro formato adicional.\n\n- El resultado debe ser exclusivamente el JSON plano mostrado arriba. Nada más."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        200,
        -60
      ],
      "id": "5f79f426-ddfd-4245-a6a3-747eb73ce12b",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        40,
        180
      ],
      "id": "429904aa-7757-447e-8859-5f3e8c8aec88",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        260,
        240
      ],
      "id": "2193fe5d-4c73-4ead-a26e-043e3f670d38",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta para buscar dentro de un archivo JSON que contiene información sobre componentes electrónicos.\nCuando el usuario pregunte por un componente específico, busca su nombre exacto y devuelve solo su información, en el siguiente formato:\n\n{\n  \"name\": \"...\",\n  \"type\": \"...\",\n  \"subtype\": \"...\",\n  \"ubication\": {\n    \"box\": ...,\n    \"col\": ...,\n    \"row\": ...\n  }\n}\n\nSi no se encuentra el componente, devuelve todos los valores como null. No des explicaciones, solo el JSON plano.",
        "workflowId": {
          "__rl": true,
          "value": "rX0OnEMTWc5BMeej",
          "mode": "list",
          "cachedResultName": "CSV"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        440,
        260
      ],
      "id": "22eafea5-8935-4f6d-80b9-298ed419f504",
      "name": "DatosBúsqueda"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        860,
        -20
      ],
      "id": "d91b9c77-9ba8-42e4-8d31-e80db7178360",
      "name": "Auto-fixing Output Parser",
      "notes": "Si el output parser falla, trata de arreglar el formato respetando el formato siguiente:\n\n{\n  \"name\": \"...\",\n  \"type\": \"...\",\n  \"subtype\": \"...\",\n  \"ubication\": {\n    \"box\": ...,\n    \"col\": ...,\n    \"row\": ...\n  }\n}"
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        560,
        320
      ],
      "id": "fcc1e27a-186b-480c-8c36-2d71418aad9d",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"...\",\n  \"type\": \"...\",\n  \"subtype\": \"...\",\n  \"box\": \"2\",\n  \"col\": \"1\",\n  \"row\": \"2\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        980,
        180
      ],
      "id": "6e52b849-2311-4fd8-b894-791c9dcb9cc4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Tienes un objeto JSON que contiene información técnica sobre un componente.\nTu única tarea es resumir esa información en una frase clara y breve, como si se lo explicaras a una persona de forma natural.\n\nMuy importante:\n\n- No devuelvas JSON.\n\n- No pongas ejemplos ficticios, ni inventes ningún dato.\n\n- No uses bloques de código.\n\n- No digas “imagina que…”.\n\n- Solo responde con un resumen corto y directo de lo que ves en el JSON.\n- No des información de lo que es el objeto, solo devuelve la información es decir, su name, type, subtype,box, raw y col. Dame esta información de manera concisa y en lenguaje natural\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        560,
        -109.99999999999997
      ],
      "id": "858042a1-82f1-4c46-93d7-d59c1af94596",
      "name": "Formatear"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=json.output"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        680,
        240
      ],
      "id": "583b7aa9-9835-45ae-84e3-4ea964310e33",
      "name": "Simple Memory1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DatosBúsqueda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Formatear",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Formatear",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d75f92b3-dfa7-4c67-bf7d-897755ef097a",
  "triggerCount": 0,
  "tags": []
}