src/n8n/workflows/My workflow 3.json
{
  "createdAt": "2025-07-09T09:53:19.673Z",
  "updatedAt": "2025-07-09T11:36:06.000Z",
  "id": "DvbNg4Nua2anxs6D",
  "name": "My workflow 3",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -580,
        -160
      ],
      "id": "d3bf21d1-5cd2-47de-8215-6b37a0239007",
      "name": "When chat message received",
      "webhookId": "59f650ac-87c9-4ee7-9f7e-ad65c05c6caf"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"msg\": \"a string\",\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -580,
        0
      ],
      "id": "f8a9095b-a817-4741-b2eb-29afd0f0c08b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -340,
        220
      ],
      "id": "4f40eed7-9e8d-4978-b209-546c68a70d2d",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Select rows from a table in Postgres, the tables that you can access are the following, do not change the tables name, it wont work.\n\nsummarychatfile\nsummarychatmessage\n_sqlx_migrations\naf_user\naf_roles\naf_role_permissions\naf_permissions\naf_workspace_member\naf_workspace\naf_snapshot_meta\naf_workspace_invitation\naf_blob_metadata\naf_collab_member\naf_collab_snapshot\naf_snapshot_meta_document\naf_snapshot_meta_database\naf_snapshot_meta_workspace_database\naf_snapshot_meta_folder\naf_snapshot_meta_database_row\naf_snapshot_meta_user_awareness\naf_snapshot_state\naf_snapshot_state_document\naf_snapshot_state_database\naf_workspace_ai_usage\naf_snapshot_state_workspace_database\naf_snapshot_state_folder\naf_snapshot_state_database_row\naf_published_view_reaction\naf_published_view_comment\naf_template_category\naf_snapshot_state_user_awareness\naf_chat\naf_chat_messages\naf_published_collab\naf_collab_embeddings\naf_template_creator\naf_template_creator_account_link\naf_template_view\naf_template_view_template_category\naf_related_template_view\naf_access_request\naf_import_task\naf_workspace_namespace\naf_quick_note\naf_workspace_deleted\naf_collab_conflicts\naf_collab\naf_workspace_invite_code\n",
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', `af_workspace_member\naf_workspace\naf_snapshot_meta\naf_blob_metadata\naf_collab_member\naf_workspace_ai_usage\naf_published_collab\naf_collab_embeddings\naf_access_request\naf_workspace_namespace\naf_workspace_deleted\naf_collab_conflicts\naf_collab\naf_workspace_invite_code`, 'string') }}",
          "mode": "name"
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        20,
        280
      ],
      "id": "e768e239-336f-4257-92e8-e8b55a591b07",
      "name": "Search in Appflowy",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "rUrocHl8XaJ8Jwox",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -140,
        220
      ],
      "id": "5fad6c0b-7a74-45b3-952f-86c78a65b8b3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.completed }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "efe22480-596d-4893-8460-491ccfeb57e1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f89d0c70-c099-46e6-b8ce-ffb7ef1a814b",
                    "leftValue": "={{ $json.completed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        840,
        -80
      ],
      "id": "364b00f7-a120-4a4d-8657-b27bd2188393",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "-----Tarea-------\nYou are a helpful assistant fro retriving information from postgres, you MUST execute multiple queries to postgres\n----Output----\nEl outputt a de ser un solo json\nEl output a de ser un json como sigue:\n{\n pregunta:\n respuesta:\n completed:\nsessionId:\n} "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -220,
        -80
      ],
      "id": "aad66aa9-a4c3-4cac-8e46-49508f4f8d5f",
      "name": "Step1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 100,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Se a respondido la pregunta, de una buena forma? Si la respuesta es negativa o no se ha podido responder correctamnete, simplemente mara completed como false\nPregunta: \n---------------------\n{{ $('When chat message received').item.json.chatInput }}\n---------------------\nRespuesta:\n---------------------\n{{ $json.output }}\n---------------------\nEl output a de ser un json como sigue:\n{\n pregunta:\n respuesta:\n completed:\n sesionId:\n} ",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        260,
        -80
      ],
      "id": "d914cd3b-71f0-4f66-9015-601faaec995f",
      "name": "Formater",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Select rows from a table in Postgres, from af_workspace_member",
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "=af_workspace_member",
          "mode": "name"
        },
        "returnAll": "={{ false }}",
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        180,
        320
      ],
      "id": "4a21256c-5b04-47bc-aef1-a9e1e351e029",
      "name": "Search in Appflowy table af_workspace_member",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "rUrocHl8XaJ8Jwox",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"output\": \n  {\n\t\"respuesta\": \"Que hora es\",\n\t\"pregunta\": \"las 10 y media\",\n\t\"completed\": true\n}\n}",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        420,
        140
      ],
      "id": "752288c8-a7cb-4510-92db-afee79991d56",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        280,
        260
      ],
      "id": "d84e7f61-86f0-47b7-945e-29cbfd24c64e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Step1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Step1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Step1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search in Appflowy": {
      "ai_tool": [
        [
          {
            "node": "Step1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Step1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Step1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step1": {
      "main": [
        [
          {
            "node": "Formater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater": {
      "main": [
        []
      ]
    },
    "Search in Appflowy table af_workspace_member": {
      "ai_tool": [
        [
          {
            "node": "Step1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Formater",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Formater",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a624f957-b3ea-4bee-b5c8-ea30f06c5884",
  "triggerCount": 0,
  "tags": []
}