src/n8n/workflows/My workflow Victor.json
{
  "createdAt": "2025-07-09T09:28:32.311Z",
  "updatedAt": "2025-07-23T11:53:23.000Z",
  "id": "ApQXgVfi40v6PRKm",
  "name": "My workflow Victor",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        -20
      ],
      "id": "8cc1d62e-3970-4e5d-895a-21e47ad50520",
      "name": "When chat message received",
      "webhookId": "38094d54-280d-4ed1-a218-0841d6fc8a34"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente experto en bases de datos PostgreSQL. Tu tarea es generar consultas SQL correctas y seguras basadas en la pregunta del usuario. You are a helpful assistant\n\nTienes uuna herramienta poara conectarte a la base de datos\n\nFormatea el output en json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        200,
        -60
      ],
      "id": "e7913903-198c-43b0-8204-5d863a7eb437",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        40,
        180
      ],
      "id": "0dc33aaf-5640-4201-8e4f-82af208ac442",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        260,
        240
      ],
      "id": "c234cc4f-082d-40bb-879b-262322633d67",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}",
          "mode": "name"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        440,
        160
      ],
      "id": "d4f2af90-d5cb-4f06-add4-76831500e8f9",
      "name": "Select rows from a table in Postgres",
      "credentials": {
        "postgres": {
          "id": "rUrocHl8XaJ8Jwox",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        160
      ],
      "id": "fd1de24e-1048-4c68-9083-c30092a19975",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7e99e764-5fc5-4ed1-a443-d0e065806019",
  "triggerCount": 0,
  "tags": []
}