src/n8n/workflows/OLD GOOD Search In CSV.json
{
  "createdAt": "2025-07-23T13:22:17.749Z",
  "updatedAt": "2025-07-24T21:04:24.000Z",
  "id": "xnMqcmAwIVsoyXRz",
  "name": "OLD GOOD Search In CSV",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=[INST]\nYou are given a CSV data snippet, a column header description, and a natural language question from the user.\n\nYour task is:\n1. Extract the most relevant nouns or item names from the question — ignore all verbs, articles, prepositions, and filler words.\n2. Insert those keywords directly into the Python script.\n3. Return ONLY the final Python script (see format below). The keywords must be explicitly defined in the `keywords = [...]` line.\n\n### [Table Text]\nThis is the description of the cols of the table:  \n{{ $('Gen promt').item.json.headers }}\n\n### [Table]\n{{ $('Gen promt').item.json.rowsCsv }}\n\n### [Question]\n{{ $('Gen promt').item.json.question }}\n\n### [Instructions]\nYour response must follow these constraints:\n- Return ONLY the Python script, and nothing else.\n- DO NOT include any explanations, reasoning, markdown formatting, or comments unless they are part of the original script.\n- You are not allowed to include ANY explanations, thoughts, reasoning, or Markdown formatting.\n- The code you return will be directly saved into a .py file and executed. Therefore, it must be valid Python.\n- You are only allowed to solve the question using the EXACT Python script shown below in [Python Script Template].\n- DO NOT alter or add anything to the script.\n- DO NOT wrap the code in triple backticks. Return only raw code.\n- Return ONLY the exact Python script as plain text, and nothing else. Do NOT wrap it in python.\n\n### [Python Script Template] — DO NOT MODIFY FORMAT\n\n```python\nimport pandas as pd\n\nkeywords = [] # ← Replace with extracted relevant nouns form the {{ $('Gen promt').item.json.question }}\n\ndf = pd.read_csv('data-{{ $json.sessionId }}.csv')\n\ndef matches_keywords(name):\n    name = str(name).lower()\n    return any(word in name for word in keywords)  # Coincidencia parcial\n\nfiltered_df = df[df['Name'].apply(matches_keywords)]\n\nif not filtered_df.empty:\n    result = filtered_df.to_dict('records')\nelse:\n    result = \"UNKNOWN\"\n\nprint(result)\n```\n\n[/INST]\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        940,
        -275
      ],
      "id": "6260edee-46db-4364-9fc7-579389244df8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "workspaceId": "9a50d26a-471a-4b81-a03d-79b31ea05a20",
        "databaseId": "df6be534-68ec-421d-9ec7-ad20dae30ee7",
        "returnAll": true,
        "simplify": false
      },
      "type": "n8n-nodes-appflowy.appflowy",
      "typeVersion": 1,
      "position": [
        60,
        -275
      ],
      "id": "58565282-2284-47fa-9f01-6b16d4beddfd",
      "name": "Get All Inventory",
      "credentials": {
        "appflowyApi": {
          "id": "YODmFLRKL0nTWCx6",
          "name": "Default"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getFields",
        "workspaceId": "9a50d26a-471a-4b81-a03d-79b31ea05a20",
        "databaseId": "df6be534-68ec-421d-9ec7-ad20dae30ee7"
      },
      "type": "n8n-nodes-appflowy.appflowy",
      "typeVersion": 1,
      "position": [
        -380,
        -275
      ],
      "id": "8c3bf042-cada-496e-b33e-43727765a6ee",
      "name": "Get Inventory Headers",
      "credentials": {
        "appflowyApi": {
          "id": "YODmFLRKL0nTWCx6",
          "name": "Default"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar data = {};\ndata.headers = $('Code').first().json.headers;\ndata.rows = [];\ndata.rowsCsv = \"\";\n\n//Add to struct\nfor (const item of $input.all()) {\n  data.rows.push(item.json) \n}\n\n//Clean\nfor (var i = 0; i < data.rows.length; i++) {\n  aux = data.rows[i].id; \n  data.rows[i] = data.rows[i].cells; \n  data.rows[i].id = aux; \n}\n\nfor (var i = 0; i < data.headers.length; i++) {\n  data.rowsCsv += data.headers[i].name;\n  if (i != data.headers.length - 1) data.rowsCsv += \",\"\n}\ndata.rowsCsv += \"\\n\"\n\n//Add rows to csv\nfor (var i = 0; i < data.rows.length; i++) {\n  for (var j = 0; j < data.headers.length; j++) {\n    data.rowsCsv += data.rows[i][data.headers[j].name];\n    if (j != data.headers.length - 1) data.rowsCsv += \",\"\n  }\n  data.rowsCsv += \"\\n\"\n} \n\ndata.question = $('Code2').first().json.chatInput\n\ndata.sessionId = Math.random().toString();  // ← trim aquí\n\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        -275
      ],
      "id": "9b61cbe5-4da8-4f28-8b7c-c3cc100a2d63",
      "name": "Gen promt",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar data = {}\ndata.headers = [];\n\nfor (const item of $input.all()) {\n  data.headers.push(item.json) \n}\nfor (var i = 0; i < data.headers.length; i++) {\n  delete data.headers[i].id ;\n  delete data.headers[i].is_primary ;\n  data.headers[i].options = [];\n  if (data.headers[i].field_type == \"SingleSelect\") {\n    for (var j = 0; j < data.headers[i].type_option.content.options.length; j++) {\n      data.headers[i].options.push(data.headers[i].type_option.content.options[j].name);\n    }\n    delete data.headers[i].type_option ;\n  }\n}\ndata.headers.push({\n  \"name\": \"id\",\n  \"field_type\":\"SingleSelect\",\n  \"options\": \"null\"\n});\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -275
      ],
      "id": "484353e6-a316-4f9a-8800-3b285f87f4ad",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/data-{{ $('Gen promt').item.json.sessionId }}.py",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1740,
        -275
      ],
      "id": "7e2a2c57-3ef9-4111-8ce8-7384d5970528",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "model": "hf.co/QuantFactory/TableLLM-13b-GGUF:Q8_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        2700,
        -55
      ],
      "id": "4d96e073-c02f-443d-b36f-000a186c3e72",
      "name": "Ollama Model1",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {
        "command": "=python3 /home/node/data-{{ $('Gen promt').item.json.sessionId }}.py\n\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1960,
        -275
      ],
      "id": "63985a24-8bee-4001-9a89-53d4e26df770",
      "name": "Execute python Code"
    },
    {
      "parameters": {
        "command": "=rm /home/node/data-{{ $('Gen promt').item.json.sessionId }}.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2180,
        -275
      ],
      "id": "4fa5507a-2160-4f72-8c18-69ac893c43b2",
      "name": "Delete data-id.py"
    },
    {
      "parameters": {
        "jsCode": "const content = $json[\"script\"];\nconst buffer = Buffer.from(content, 'utf-8');\n// Obtener sessionId desde otro nodo\nconst sessionId = $('Gen promt').first().json.sessionId;  // ← trim aquí\nconst filename = `/home/node/data-${sessionId}`;\n\n\nreturn [{\n  binary: {\n    data: await this.helpers.prepareBinaryData(buffer, filename, 'text/x-python')\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -275
      ],
      "id": "f2d51bc6-337a-48df-96ac-8bbd875a1952",
      "name": "Convert Text into binary File",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text;\n\n// Extrae solo el bloque de código entre ```python ... ```\nconst match = raw.match(/```python\\s*([\\s\\S]*?)```/);\n\nif (match) {\n  return {\n    json: {\n      script: match[1].trim()\n    }\n  };\n} else {\n  return {\n    json: {\n      script: raw.trim()\n    }\n  };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -275
      ],
      "id": "427829c1-b935-4dbe-a100-bd4ac405732b",
      "name": "Stop thinking",
      "executeOnce": false
    },
    {
      "parameters": {
        "model": "deepseek-r1:14b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1020,
        -55
      ],
      "id": "eae2e59e-dd20-4a70-9601-9c724f020de4",
      "name": "deepseek",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      attempt: ($json.attempt || 1) + 1\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        -175
      ],
      "id": "cc4d10f4-698a-46ae-ba1b-6787b36dc548",
      "name": "try Again"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "acfbff90-f25a-4d55-b5bb-8cb22b304454",
              "leftValue": "={{ $('Execute python Code').item.json.stdout }}",
              "rightValue": "UNKNOWN",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "83720e6f-01d8-4232-8976-80b82220b7fa",
              "leftValue": "={{ $json.attempt }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3200,
        -350
      ],
      "id": "f5ab014d-e523-4416-adf8-c0a190ccaca0",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[INST]\n\nOffer a thorough and accurate solution that directly addresses the Question outlined in the [Question].\n\nIf you recibe a quetion asking for the position of a item, reply with Name, Box, Col and Row of all the items of the given table otherwise reply that you do not know. Always follow this rule.\n\n### [Table Text]\nThis is the description of the cols of the table\n{{ $('Gen promt').item.json.headers }}\n\n### [Table]\n```\n{{ $('Execute python Code').item.json.stdout }}\n```\n\n### [Question]\n{{ $('Code2').first().json.chatInput }}\n\n### [Solution]\nThe reply should follow the following format:\n  - If element was not found: \"UNKNOWN\".\n  - If ONE element was found: \"The elements XXXX is on the box XXX, on thhe row XXXX and on the col XXXX\"\n  - Otherwise, if there its more than one elements found, return all of them, each one with the format: \"The elements XXXX is on the box XXX, on thhe row XXXX and on the col XXXX\"\n\n\n[INST/]",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2620,
        -275
      ],
      "id": "69466aca-00b3-427e-940a-c87fd65473bb",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "jsCode": "return [ { \"output\": $input.first().json.stdout}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        -400
      ],
      "id": "b02c221a-6f26-4fa8-bab0-c55edb655298",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "let attempt = 1;\n\ntry {\n  attempt = $('try Again').last().json.attempt || 1;\n} catch (e) {\n  attempt = 1;\n}\n\nreturn [{\n  json: {\n    stdout: $input.first().json.text,\n    attempt: attempt\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2980,
        -350
      ],
      "id": "3253140d-3922-4889-b3d0-891aee4efb1f",
      "name": "Insert count1",
      "executeOnce": true
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"workspace\": \"zxczxczxc\",\n  \"database\": \"zxczxczx\",\n  \"chatInput\": \"Donde estan las resistencias de 1k\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        -175
      ],
      "id": "d187d34a-8439-4496-a77f-6a035cbe6ead",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -820,
        -375
      ],
      "id": "9416d55b-281c-4260-a342-1ad397e7e13d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn [\n  {\n  \"workspace\": \"asdasdasd\",\n  \"database\": \"asdsdasd\",\n  \"chatInput\": \"Donde estan los zener 13v\"\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        -375
      ],
      "id": "8335b740-edf0-4768-8e93-4623a26239e9",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/data-{{ $('Gen promt').item.json.sessionId }}.csv",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        -275
      ],
      "id": "d03d5e00-4b74-4d7b-8a02-6122b4a0923f",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "jsCode": "const csvContent = $json[\"rowsCsv\"];\nconst buffer = Buffer.from(csvContent, 'utf-8');\nconst sessionId = $json[\"sessionId\"];\nconst filename = `data-${sessionId}.csv`;\n\nreturn [{\n  binary: {\n    data: await this.helpers.prepareBinaryData(buffer, filename, 'text/csv')\n  },\n  json: {\n    sessionId\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -275
      ],
      "id": "1576bf8b-ce5e-4aff-918e-8a3fad179b4d",
      "name": "Convert Text into binary File1",
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "=rm /home/node/data-{{ $('Gen promt').item.json.sessionId }}.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2400,
        -275
      ],
      "id": "e0831c88-3213-492c-8a3e-28d3968910c0",
      "name": "Delete data-id.csv"
    }
  ],
  "connections": {
    "Get All Inventory": {
      "main": [
        [
          {
            "node": "Gen promt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory Headers": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen promt": {
      "main": [
        [
          {
            "node": "Convert Text into binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get All Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Stop thinking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute python Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute python Code": {
      "main": [
        [
          {
            "node": "Delete data-id.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete data-id.py": {
      "main": [
        [
          {
            "node": "Delete data-id.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Text into binary File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop thinking": {
      "main": [
        [
          {
            "node": "Convert Text into binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepseek": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "try Again": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "try Again",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Insert count1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert count1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Inventory Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Get Inventory Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Text into binary File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete data-id.csv": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Get Inventory Headers": {
      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwYjM4MWQ0OS1iOTU2LTRkNDEtOTA5OS1lMjM3ZDIyMDNkMDYiLCJhdWQiOiIiLCJleHAiOjE3NTI0OTQ1NDAsImlhdCI6MTc1MjQ4NzM0MCwiZW1haWwiOiJ1c2VyMUB1c2VyLnVzIiwicGhvbmUiOiIiLCJhcHBfbWV0YWRhdGEiOnsicHJvdmlkZXIiOiJlbWFpbCIsInByb3ZpZGVycyI6WyJlbWFpbCJdfSwidXNlcl9tZXRhZGF0YSI6eyJlbWFpbCI6InVzZXIxQHVzZXIudXMiLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsInBob25lX3ZlcmlmaWVkIjpmYWxzZSwic3ViIjoiMGIzODFkNDktYjk1Ni00ZDQxLTkwOTktZTIzN2QyMjAzZDA2In0sInJvbGUiOiIiLCJhYWwiOiJhYWwxIiwiYW1yIjpbeyJtZXRob2QiOiJwYXNzd29yZCIsInRpbWVzdGFtcCI6MTc1MjQ4NzM0MH1dLCJzZXNzaW9uX2lkIjoiMWM4OTE1ZWUtZjRiYi00Yzk5LWJlYTktYTk5MDA5YWNhOTUxIiwiaXNfYW5vbnltb3VzIjpmYWxzZX0.wg-9xswjHepje4mcAoPqjmtmNMclooPr1FGmzoVxAGI",
      "refreshToken": "oqKfmf4eJKL_MBbykRqn7g"
    },
    "node:Get All Inventory": {
      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwYjM4MWQ0OS1iOTU2LTRkNDEtOTA5OS1lMjM3ZDIyMDNkMDYiLCJhdWQiOiIiLCJleHAiOjE3NTI0OTg0NTUsImlhdCI6MTc1MjQ5MTI1NSwiZW1haWwiOiJ1c2VyMUB1c2VyLnVzIiwicGhvbmUiOiIiLCJhcHBfbWV0YWRhdGEiOnsicHJvdmlkZXIiOiJlbWFpbCIsInByb3ZpZGVycyI6WyJlbWFpbCJdfSwidXNlcl9tZXRhZGF0YSI6eyJlbWFpbCI6InVzZXIxQHVzZXIudXMiLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsInBob25lX3ZlcmlmaWVkIjpmYWxzZSwic3ViIjoiMGIzODFkNDktYjk1Ni00ZDQxLTkwOTktZTIzN2QyMjAzZDA2In0sInJvbGUiOiIiLCJhYWwiOiJhYWwxIiwiYW1yIjpbeyJtZXRob2QiOiJwYXNzd29yZCIsInRpbWVzdGFtcCI6MTc1MjQ5MTI1NX1dLCJzZXNzaW9uX2lkIjoiMzk2NGVkOWUtMDc5OS00OTMzLTg4NjYtYTE0ZTM1YzZhMmE4IiwiaXNfYW5vbnltb3VzIjpmYWxzZX0.DGtKAEBzy9PcoofVcoCHFt4HOBeQKwxzHHtre4pHSVg",
      "refreshToken": "c_IV5Hv4giCKhCUbRiWE0w"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8afb916a-b950-4ab4-93a4-f376dfd86c57",
  "triggerCount": 1,
  "tags": []
}