src/n8n/workflows/RETRIVE INVENTORY.json
{
  "createdAt": "2025-07-24T14:34:22.778Z",
  "updatedAt": "2025-07-24T14:42:45.000Z",
  "id": "0Av55mBiFgoet5yZ",
  "name": "RETRIVE INVENTORY",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "tazarov/all-minilm-l6-v2-f32:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        300,
        220
      ],
      "id": "676067a7-aec0-44a6-b70d-db03048e5975",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "oEKNS3tm8YNi0WhW",
          "name": "ollama"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "n8n_vectors_test",
        "prompt": "={{ $json.chatInput }}",
        "topK": 1,
        "options": {
          "distanceStrategy": "cosine"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        220,
        0
      ],
      "id": "f89868fa-f2df-4978-83cd-252e4c62ef88",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "rUrocHl8XaJ8Jwox",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "workspaceId": "273d82d8-1caa-44ce-9a4a-90e55dbbf4e3",
        "databaseId": "ae6b9ae3-e4eb-4c09-b07d-b3a1a12afd96",
        "databaseRowId": "={{ $json.document.metadata.appflowy.rowID }}",
        "includeDocumentData": true,
        "simplify": false
      },
      "type": "n8n-nodes-appflowy.appflowy",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "63c6fd0f-f5e6-4c95-8332-54697b9839f8",
      "name": "Get ROW",
      "credentials": {
        "appflowyApi": {
          "id": "YODmFLRKL0nTWCx6",
          "name": "Default"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "84fe96c6-ad4a-40d6-9ddf-795210088eed",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -20,
        240
      ],
      "id": "2e6fd77a-c449-4c2d-a9c5-489bf175765f",
      "name": "When chat message received",
      "webhookId": "f1fdbefe-19ed-439a-b0ca-34e1678abf2c"
    }
  ],
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "main": [
        [
          {
            "node": "Get ROW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2d523a94-0f0f-499f-8622-1cc41607fe2b",
  "triggerCount": 0,
  "tags": []
}